@import url('https://webfontworld.github.io/seoulhangang/SeoulHangang.css');

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0px;
    color: #FFFFFF;
}
.Home {
    position: fixed;
    width: 104px;
    height: 40px;
    left: 70px;
    top: 20px;
  
    font-family: 'SeoulHangang';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
  
    color: "#6200EA";
  }
  
  .Flock { 
    position: fixed;
    width: 215px;
    height: 109px;
    left: 220px;
    top: 20px;
  
    font-family: 'SeoulHangang';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
  
    color: #6200EA;
  }
  
  .myPage { 
    position: fixed;
    width: 215px;
    height: 109px;
    left: 370px;
    top: 20px;
  
    font-family: 'SeoulHangang';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
  
    color: #6200EA;
  }
  
